$white: #f2f2f2;
$pure-black: #030303;
$light-black: #181818;
$black: #040405;
$red: #1ce783;
$macrometaBlue: #064d72;
$grey: #101011;
$blue-google: #1356c7;

$main-font: "Inter", sans-serif;
$fakeflix-font: "Bebas Neue", cursive;
